---
import astroLogo from '../assets/aMa_lab-logo300x300.png';
import astroImage1 from '../assets/DSC08790.jpg';
import astroImage2 from '../assets/DSC08613.jpg';
import astroImage3 from '../assets/projecto-dispersor-vieiro.jpg';
import astroImage4 from '../assets/DSC09944.jpg';

const images = [
  { src: astroImage1.src, caption: 'Cantas bocas haberá que alimentar en A Mariña 2050?', place: ' Comedor do IES María Sarmiento en Viveiro' },
  { src: astroImage2.src, caption: 'E se a solución ao futuro do territorio está nas túas mans?', place: 'Escola de Hostalería no IES de Foz' },
  { src: astroImage3.src, caption: 'A diversidade alimentaria é a nosa forza. Cómo a protexemos?', place: 'Estación Agroecolóxica de Vieiro de Projecto Dispersor e Calara en Viveiro' },
  { src: astroImage4.src, caption: '"Pasado, presente e futuro: conectemos as historias que nos definen.', place: 'Produtores interxeracionais colleitando faba da IXP Faba de Lourenzá' },
];
---

<div id="container">
	<nav class="ama-nav">
		<a href="https://astro.build"
				><img src={astroLogo.src} width="50" height="50" alt="A Mariña Lab" /></a
			>
			
	</nav>
	<main class="main">
		<section id="hero" class="hero">
			<hgroup>
				<h1>
					Cociñando A Mariña futura
				</h1>
			</hgroup>
			<div class="hero-image">
				{
					images.map((image) => (
						<div class="hero-carrusel relative w-full h-[400px] flex items-center justify-center overflow-hidden">
							<img id="carousel-image" src={image.src} alt="" class="absolute transition-opacity duration-500 opacity-100" />
							<div id="carousel-caption" class="caption-image absolute bottom-4 left-4 bg-black bg-opacity-50 text-white p-4 rounded">
								<p>{image.caption}</p>
								<span>{image.place}</span>
							</div>
						</div>
					))
				}
				
			</div>
		</section>
		<section class="ama-cta">
			<a class="primary" href="#">Únete á transformación!</a>
			<a class="secundary" href="#">Colabora como entidade</a>
		</section>
	</main>
</div>
<script>

let index = 0;
  const carousels = document.querySelectorAll(".hero-carrusel");

  
	function updateCarousel() {
    carousels.forEach((el:any, i) => {
      el.style.opacity = i === index ? "1" : "0";
    });
    index = (index + 1) % carousels.length;
  }

  setInterval(updateCarousel, 3000)
</script>
<style>
	/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'Avenir-Medium';
  src: url('/fonts/avenir/Avenir-Medium.woff') format('woff');
  font-weight: Medium;
  font-style: Medium;
  font-display: swap;
}
@font-face {
  font-family: 'nunito-medium';
  src: url('/fonts/nunito/Nunito-Medium.ttf') format('woff');
  font-weight: Medium;
  font-style: Medium;
  font-display: swap;
}
body{

	font-family: 'nunito-medium';
}
	#container {
		height: 100%;
	}

	main {
		height: 100%;
	}
	.main{
		display: flex;
		flex-direction: column;
	}
	.ama-nav{
		display: flex;
		justify-content: space-around;
		width: 95%;
		max-width: 1920px;
		margin: 0 auto;
		padding: .5em 0;
		ul{
			display: flex;
			list-style: none;
			li{
				a{
						text-decoration: none;
						color: black;
				}
			}
		}
	}

	.hero{
		hgroup{
			display: flex;
			justify-content: center;
			align-self: center;
			width: 100%;
			text-align: center;
			text-transform: uppercase;
		}
		.hero-image{
			position: relative;
			width: 98%;
			max-width: 1000px;
			aspect-ratio: 1.5;
			margin: 0 auto;
			border-radius: 17px;
			overflow: hidden;
			img{
				width: 100%;
				object-fit: contain;
			}
		}
		.hero-carrusel {
			position: absolute;
			transition: opacity 0.5s ease-in-out;
		}
		.caption-image{
			position: absolute;
			width: 100%;
			bottom: 0;
			background: #000000ba;
			padding: 1.4em 0 1.4em 0;
			text-align: center;
			p{
				color: white;
				font-weight: 700;
			}
			span{
				color: rgb(202, 202, 202);
			}
		}
	}
	.ama-cta{
		display: flex;
		justify-content: center;
		margin-top: 1rem;
		gap:.3em;
		padding-bottom: 10em;
		a{
			text-decoration: none;
			color: white;
			background-color: #d83333;
			padding: 1em 2em;
			border-radius: 8px;
			&:hover{
				opacity: .8;
			}
			&.primary{
				background-color: #3c9ca0;
			}
			&.secundary{
				background-color: black;
			}
		}
	}

	h1 {
		font-size: 2em;
		margin-top: 0.25em;
		margin-bottom: 0.4em;
	}

	 

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#news {
		position: absolute;
		bottom: 16px;
		right: 16px;
		max-width: 300px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
	}

	#news:hover {
		background: rgba(255, 255, 255, 0.55);
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}
		.ama-cta{
			flex-direction: column;
			text-align: center;
			width: 100%;
			justify-content: center;
			align-items: center;
		}
		h1{
			font-size: 1.4em;
		}
		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
